// Заголовки, общие БЄМ блоки и проче...
.btn-red {
	font-size: 16px;
	color: #fff;
	padding: 15px 45px;
	background-color: $redColor;
	border-radius: 5px;
	border: 2px solid $redColor;
	transition: all 0.3s ease 0s;

	&:hover {
		color: $redColor;
		background-color: #fff;
		border: 2px solid $redColor;
	}
}

.btn-white {
	font-size: 16px;
	color: $redColor;
	padding: 15px 45px;
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid $redColor;
	transition: all 0.3s ease 0s;

	&:hover {
		color: #fff;
		background-color: $redColor;
		border: 2px solid #fff;
	}
}

.title {
	@include adaptiveValue("font-size", 60, 50);
	margin-bottom: 25px;
	text-align: center;
}