//====================================================================================================
.main {
	background: #FAFAFA;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;

	&__header {}

	&__logo {
		width: 146px;
		margin: auto;

		img {
			width: 100%;
			height: 100%;
			margin-bottom: 30px;
		}
	}

	&__header-title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 30px;
	}

	&__header-buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__header-btn {
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}
}

// about ====================================================================================================
.about {
	@include adaptiveValue("padding-top", 60, 40);

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__card {
		flex: 0 1 48%;
		background-color: rgb(245, 245, 245);
		padding: 20px;
		border-radius: 15px;
		margin-right: 30px;
		margin-top: 20px;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__card-text {
		font-weight: 400;

		p {
			line-height: 140%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// service ========================================================================================================================================================
.service {
	margin-top: 60px;
	position: relative;
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 100, 40);

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url(../img/bg.png) no-repeat;
	}

	&__title {
		z-index: 2;
		position: relative;
	}

	&__row {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__card {
		text-align: center;
		flex: 0 0 24%;
		background-color: #fff;
		z-index: 2;

		@media (max-width:$tablet) {
			flex: 0 1 48%;
		}

		@media (max-width:$mobile) {
			flex: 1 1 auto;
		}
	}

	&__card-img {
		padding: 7px;
		width: 100%;
		display: flex;
		justify-content: center;

		img {
			width: 100%;
		}
	}

	&__card-title {
		margin: 20px 0 20px 0;
		font-size: 24px;
		font-weight: 700;
	}

	&__card-text {
		font-size: 18px;
		line-height: 140%;
		padding-bottom: 47px;
	}
}

// industry ========================================================================================================================================================
.industry {
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 100, 40);

	&__row {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__card {
		flex: 0 1 48%;
		margin-bottom: 40px;

		@media (max-width:$tablet) {
			flex: 0 1 40%;
			margin-right: 20px;
			justify-content: space-between;

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width:$mobile) {
			flex: 1 1 auto;
			justify-content: center;
			margin-right: 0;
		}
	}

	&__card-image {
		max-width: 542px;
		max-height: 351px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__card-title {
		margin-top: 20px;
		font-size: 24px;
		font-weight: 400;
	}
}

// contact ========================================================================================================================================================
.contact {
	background-color: #f5f5f5;
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 100, 40);

	&__row {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-weight: 400;
	}

	&__title {
		font-size: 48px;
		line-height: 140%;
	}

	&__text {
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__mail {
		margin-bottom: 30px;
	}

	&__btn {
		display: inline-flex;
		text-align: center;
		display: block;
		width: 185px;
		margin: auto;
	}
}